@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600');

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #FEFEFE;
  font-size: 16px;
}

h1,
h2 {
  font-weight: 600;
}

.main {
  padding: 24px;
  max-width: 768px;
  margin: 0 auto;
}

.main > header {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid;
}

.main > header h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.main > header img {
  width: 64px;
  margin-right: 16px;
}

.main > header {
  display: flex;
  align-items: center;
}

.page > h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.beer {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
}

.beer header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.beer header h2 {
  font-weight: 300;
}

.beer header span {
  margin: 0 4px;
}

.beer .style-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
}

.beer .style-icon p {
  margin-top: 4px;
  font-size: 12px;
}

.beer svg {
  width: 40px;
  height: 40px;
}

.Saison .style-color {
  fill: #F8B005;
}
.Dubbel .style-color {
  fill: #D06900;
}
.Tripel .style-color {
  fill: #F2A205;
}
.IPA .style-color {
  fill: #F8A700;
}
.Pils .style-color {
  fill: #F9C045;
}
.Stout .style-color {
  fill: #35070A;
}
.Blond .style-color {
  fill: #F8B026;
}
.Witbier .style-color {
  fill: #FBD978;
}
.Lager .style-color {
  fill: #f7df94;
}

.styles {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.styles section {
  color: #FEFEFE;
  font-weight: 400;
  padding: 6px 4px 4px;
  margin: 4px;
  display: block;
  border-radius: 2px;
  line-height: 16px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.styles section.active,
.styles section:hover {
  opacity: 1;
}

.styles .Saison {
  background-color: #F8B005;
}
.styles .Dubbel {
  background-color: #D06900;
}
.styles .Tripel {
  background-color: #F2A205;
}
.styles .IPA {
  background-color: #F8A700;
}
.styles .Pils {
  background-color: #F9C045;
}
.styles .Stout {
  background-color: #35070A;
}
.styles .Blond {
  background-color: #F8B026;
}
.styles .Witbier {
  background-color: #FBD978;
}
.styles .Lager {
  background-color: #f7df94;
}
